@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 94.1%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 262 52% 47%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 36 100% 50%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 262 52% 47%;
    --chart-1: 262 52% 47%;
    --chart-2: 36 100% 50%;
    --chart-3: 20 14.3% 4.1%;
    --chart-4: 262 52% 70%;
    --chart-5: 36 100% 70%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 20 14.3% 4.1%;
    --sidebar-primary: 262 52% 47%;
    --sidebar-primary-foreground: 60 9.1% 97.8%;
    --sidebar-accent: 262 52% 95%;
    --sidebar-accent-foreground: 262 52% 30%;
    --sidebar-border: 20 5.9% 90%;
    --sidebar-ring: 262 52% 47%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 262 52% 57%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 36 100% 60%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 262 52% 57%;
    --chart-1: 262 52% 57%;
    --chart-2: 36 100% 60%;
    --chart-3: 60 9.1% 97.8%;
    --chart-4: 262 52% 80%;
    --chart-5: 36 100% 80%;
    --sidebar-background: 20 14.3% 5.1%;
    --sidebar-foreground: 60 9.1% 97.8%;
    --sidebar-primary: 262 52% 57%;
    --sidebar-primary-foreground: 60 9.1% 97.8%;
    --sidebar-accent: 262 52% 15%;
    --sidebar-accent-foreground: 60 9.1% 97.8%;
    --sidebar-border: 12 6.5% 15.1%;
    --sidebar-ring: 262 52% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
